@import "elements.less";
@import "ration.less";
@import "foodstuff.less";


@contentMarginTop: 51px;

#content {
    margin-top: @contentMarginTop;
}


// form errors
form {
    ul.error {
        list-style: none;

        li {
            color: #b94a48;
        }
    }
}
